<?xml version="1.0" encoding="utf-8"?>
<android.support.v4.widget.DrawerLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/drawer_layout"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:id="@+id/content_frame"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:background="@color/BackgroundGray"
        android:orientation="vertical">
        <include
            layout="@layout/Toolbar" />
        <RelativeLayout
            android:id="@+id/content_frame"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:paddingTop="8dp"
            android:gravity="center_horizontal|center_vertical">
            <TextView
                android:id="@+id/todaysDateText"
                android:layout_width="wrap_content"
                android:layout_height="30dp"
                android:textSize="@dimen/normal_text"
                android:textColor="@color/white"
                android:background="@drawable/round_corner_green_button"
                android:gravity="center_horizontal|center_vertical"
                android:textStyle="bold"
                android:visibility="gone"
                android:text="@string/Date" />
        </RelativeLayout>
        <android.support.v7.widget.RecyclerView
            android:layout_below="@+id/toolbar"
            android:id="@+id/attendanceRecyclerView"
            android:scrollbars="vertical"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:paddingTop="2dp" />
    </LinearLayout>
    <ListView
        android:id="@+id/left_drawer"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_gravity="start"
        android:background="@color/OrangeBackground"
        android:choiceMode="singleChoice"
        android:divider="@color/white"
        android:dividerHeight="0dp"
        android:layout_marginLeft="-64dp" />
</android.support.v4.widget.DrawerLayout>