<?xml version="1.0" encoding="utf-8"?>
<FrameLayout 
    xmlns:card_view="http://schemas.android.com/apk/res-auto"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="150dp">
    <android.support.v7.widget.CardView
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:orientation="vertical"
            android:paddingTop="8dp"
            android:paddingLeft="8dp"
            android:paddingRight="8dp">
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:orientation="horizontal"
                android:paddingLeft="8dp"
            android:paddingRight="8dp">
                <RelativeLayout
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:paddingLeft="16dp"
                    android:paddingRight="16dp">
                    <de.hdodenhof.circleimageview.CircleImageView
                        android:id="@+id/imageView"
                        android:layout_width="96dp"
                        android:layout_height="96dp" />
                    <TextView
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:textColor="@color/Orange"
                        android:textSize="@dimen/medium_text"
                        android:layout_toRightOf="@id/imageView"
                        android:id="@+id/textView"
                        android:layout_marginTop="8dp"
                        android:layout_marginLeft="16dp" />
                    <TextView
                        android:id="@+id/designationText"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:textSize="@dimen/normal_text"
                        android:textColor="@color/TextGray"
                        android:layout_marginTop="8dp"
                        android:layout_below="@+id/textView"
                        android:layout_toRightOf="@id/imageView"
                        android:layout_marginLeft="16dp" />
                </RelativeLayout>
            </LinearLayout>
        </LinearLayout>
    </android.support.v7.widget.CardView>
</FrameLayout>