<?xml version="1.0" encoding="utf-8"?>
<android.support.v4.widget.DrawerLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/drawer_layout"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
  <LinearLayout
      android:id="@+id/content_frame"
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      android:orientation="vertical">
    <include
        layout="@layout/Toolbar" />
    <LinearLayout
        android:id="@+id/content_frame"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:padding="16dp"
        android:orientation="horizontal">

      <TextView
          android:text="@string/FromDate"
          android:layout_weight="0.50"
          android:layout_width="0dp"
          android:layout_height="wrap_content"
          android:textSize="@dimen/large_text"
          android:textColor="@color/green"
          android:gravity="center_horizontal|center_vertical"
          android:textStyle="bold" />

      <TextView
          android:text="@string/ToDate"
          android:layout_weight="0.50"
          android:layout_width="0dp"
          android:layout_height="wrap_content"
          android:textSize="@dimen/large_text"
          android:textColor="@color/green"
          android:gravity="center_horizontal|center_vertical"
          android:textStyle="bold" />

      <TextView
          android:text="@string/TotalHours"
          android:layout_weight="0.50"
          android:layout_width="0dp"
          android:layout_height="wrap_content"
          android:textSize="@dimen/large_text"
          android:textColor="@color/green"
          android:gravity="center_horizontal|center_vertical"
          android:textStyle="bold" />

      <TextView
          android:text="@string/Status"
          android:layout_weight="0.50"
          android:layout_width="0dp"
          android:layout_height="wrap_content"
          android:textSize="@dimen/large_text"
          android:textColor="@color/green"
          android:gravity="center_horizontal|center_vertical"
          android:textStyle="bold" />
      
      
    </LinearLayout>
    <android.support.v7.widget.RecyclerView
        android:layout_below="@+id/toolbar"
        android:id="@+id/timesheetRequestRecyclerView"
        android:scrollbars="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:paddingTop="8dp" />
  </LinearLayout>
  <ListView
      android:id="@+id/left_drawer"
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      android:layout_gravity="start"
      android:background="@color/OrangeBackground"
      android:choiceMode="singleChoice"
      android:divider="@color/white"
      android:dividerHeight="0dp"
      android:layout_marginLeft="-64dp" />
</android.support.v4.widget.DrawerLayout>